html, body {
    height: 100%; /* matters */
    width: 100%;
    margin: 0;
    padding: 0;
}

main {
    left: .25em;
    position: absolute;
    top: 13em;
    margin: 0;
    width: 100%;
}

/*Layout of Page Grid*/
@media screen and (max-width: 600px) {
    #mainContainer {
        display: grid;
        grid-template-areas: "mGridLeft mBigPic mGridBio mGridRight";
        grid-template-columns: 10fr 6fr 0fr 0fr;
    }
    .profileBio {
        display: none;
    }
    .mGridBio {
        grid-area: mGridBio;
        display: none;
    }
    .mGridRight {
        grid-area: mGridRight;
        display: none;
    }
    .mGridLeft button {
        text-align: center;
    }
    .mGridImages img {
        margin: 0;
        min-width: 5em;
        min-height: 6em;
    }
    .mGridLeft {
        text-align: left;
        width: 100%;
        right: 5em;
        grid-area: mGridLeft;
    }
    .mGridBigPic {
        grid-area: mBigPic;
        position: relative;
        width: 100%;
    }
    main {
        left: 0;
        margin: 0;
        top: 9em;
    }
}

#mainContainer {
    display: grid;
    grid-template-areas: "mGridLeft mBigPic mGridBio mGridRight";
    grid-template-columns: .25fr .50fr .50fr .25fr;
    grid-template-rows: auto;
    grid-gap: .5em;
    overflow: hidden;
}

.mGridLeft {
    left: 0;
    grid-area: mGridLeft;
    max-width: 350px; /* matters */
    display: grid; /* matters */
    overflow: hidden; /* matters */
}

.mGridRight {
    padding-left: .75em;
    padding-right: .5em;
    right: 0;
    grid-area: mGridRight;
    max-width: 350px; /* matters */
    display: grid; /* matters */
    overflow: hidden; /* matters */
}

.mGridBigPic {
    position: relative;
    grid-area: mBigPic;
    width: 100%;
}

.profileimg {
    position: fixed;
}

.mGridBigPic img {
    height: 100%;
    width: 100.2%;
}

.profileBio {
    padding-top: 2em;
    position: fixed;
    background: bisque;
    width: 33%;
    height: 78%;
    align-content: center;
}

#innerBio {
    position: relative;
    left: 30%;
}

#innerBio, input, textarea {
    width: 65%;
}

@media screen and (max-width: 1100px) {
    .profileBio {
        display: none;
    }

    .mGridBio {
        display: none;
    }

    .mGridRight {
        display: none;
    }

    .mGridBigPic {
    }
}

button {
    background: #bbbbbb;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

button:hover {
    box-shadow: 5px 5px 5px -3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 5px 5px 5px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 5px -3px rgba(0, 0, 0, 0.75);
}

.mGridBio {
    position: relative;
    grid-area: mGridBio;
}

.mGridB {
    display: grid; /* matters */
    overflow-y: auto; /* matters */
}

.mGridC {
    height: 112em;
    overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.mGridC::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
.mGridC {
    -ms-overflow-style: none;
}

.mGridImages {
    text-align: center;
}

.mGridImages img {
    width: 100%;
    height: 100%;
}

.mGridLeft button {
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0px solid white;
    background: white;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.mGridRight button {
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0px solid white;
    background: white;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
